* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: "white";
    background-position: center;
    background-repeat: repeat;
    background-size: 100px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #080808;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.dark-purple {
    background: #5e3577;
}

.light-blue {
    background: #d2eaf5;
}

.purple {
    background: #b02f7c;
}

.orange {
    background: #fa811d;
}

.red {
    background: #f50c2b;
}

.yellow {
    background: #ffed20;
}

.green {
    background: #41994e;
}

.dark-blue {
    background: #5a6dba;
}

.table {
    padding-left: 50px;
    padding-right: 50px;
}

.cell-info{
    margin-left: 1200px ;
}

.board {
    display: grid;
    grid-template-columns: 125px repeat(9, 80px) 125px;
    grid-template-rows: 125px repeat(9, 80px) 125px;
    grid-gap: 2px;
    margin: 50px auto;
    width: 994px;
    height: 994px;
    background: #080808;
    border: 2px solid #080808;
}

.center {
    grid-column: 2 / 11;
    grid-row: 2 / 11;
    background: #fafaf8;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
}

.bg {
    grid-column: 2 / 11;
    grid-row: 3;
    font-size: 90px;
    font-weight: 600;
    width: 900px;
    padding-top: 80px;
    align-items: center;
    padding-right: 200px;
}

.community-chest-deck {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    transform: rotate(135deg);
    margin-bottom: 300px;
    margin-right: 50px;
    margin-left: 120px;
}

.chance-deck {
    grid-column: 5 / 7;
    grid-row: 5 / 7;
    transform: rotate(315deg);
    margin-top: 0px;
    margin-bottom: 120px;
    margin-left: 60px;
    margin-right: 100px;
}

.label {
    text-align: center;
    font-weight: 500;
    letter-spacing: 3px;
    padding-bottom: 10px;
    padding-right: 3px;
}

.deck {
    border: 2px dashed #080808;
    width: 160px;
    height: 120px;
}

.row {
    display: grid;
    grid-gap: 2px;
}

.horizontal-row {
    grid-template-columns: repeat(9, 80px);
    grid-template-rows: 125px;
}

.vertical-row {
    grid-template-columns: 125px;
    grid-template-rows: repeat(9, 80px);
}

.vertical-row .container {
    top: 50%;
    left: 50%;
}

.bottom-row {
    grid-column: 2 / 11;
    grid-row: 11;
}

.left-row {
    grid-column: 1;
    grid-row: 2 / 11;
}

.left-row .container {
    transform: translate(-50%, -50%) rotate(90deg);
}

.top-row {
    grid-column: 2 / 11;
    grid-row: 1;
}

.top-row .container {
    transform: rotate(180deg);
}

.right-row {
    grid-column: 11;
    grid-row: 2 / 11;
}

.right-row .container {
    transform: translate(-50%, -50%) rotate(270deg);
}

.space {
    background: #fafaf8;
    text-align: center;
}

.space .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transform-origin: center;
    height: 125px;
    width: 80px;
}

.space .name,
.space .instructions {
    text-align: center;
}

.space .price {
    font-size: 10px;
    font-weight: 400;
    padding-bottom: 5px;
}

.corner .container {
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.corner .name {
    padding: 0;
}

.property .color-bar {
    height: 25px;
    border-bottom: 2px solid #080808;
}

.property .name {
    padding-bottom: 50px;
    font-size: 10px;
}

.railroad .name {
    padding-top: 10px;
}

.railroad .drawing {
    font-size: 55px;
    color: #080808;
}

.utility .name {
    padding-top: 10px;
}

.utility .drawing {
    font-size: 70px;
}

.fee .name {
    padding-top: 10px;
    font-size: 14px;
}

.fee .instructions {
    font-size: 10px;
}

.go {
    grid-column: 11;
    grid-row: 11 / 12;
    position: relative;
}

.go .container {
    justify-content: flex-start;
    transform: rotate(315deg);
}

.go .instructions {
    padding-top: 40px;
    font-size: 9px;
}

.go .go-word {
    font-size: 20px;
    color: #080808;
}

.go .arrow {
    font-size: 45px;
    color: #f50c2b;
    position: absolute;
    bottom: -10px;
    left: 60px;
}

.jail {
    grid-column: 1;
    grid-row: 11 / 12;
    display: grid;
    grid-template-columns: repeat(10, 12.5px);
    grid-template-rows: repeat(10, 12.5px);
    justify-content: center;
    align-items: center;
}

.jail .drawing {
    grid-column: 4 / 11;
    grid-row: 1 / 8;
    width: 87.5px;
    height: 87.5px;
    background: #fa811d;
    border-bottom: 2px solid #080808;
    border-left: 2px solid #080808;
}

.jail .just {
    grid-column: 3;
    grid-row: 4;
    transform: rotate(90deg);
    padding-top: 25px;
}

.jail .visiting {
    grid-column: 6;
    grid-row: 8;
    padding-top: 25px;
}

.jail .container {
    align-items: center;
    transform: rotate(45deg);
}

.jail .name {
    font-size: 14px;
}

.jail .window {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 55px;
    height: 55px;
    background: #fafaf8;
    border: 2px solid #080808;
}

.jail .person {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 40px;
}

.jail .bar {
    height: 55px;
    width: 2px;
    background: #080808;
}

.free-parking {
    grid-column: 1;
    grid-row: 1 / 2;
}

.free-parking .container {
    justify-content: center;
    transform: rotate(135deg);
}

.free-parking .name {
    font-size: 16px;
}

.free-parking .drawing {
    font-size: 60px;
    color: #f50c2b;
    padding-top: 5px;
    padding-bottom: 5px;
}

.go-to-jail {
    grid-column: 11;
    grid-row: 1 / 1;
}

.go-to-jail .container {
    justify-content: center;
    transform: rotate(225deg);
}

.go-to-jail .name {
    font-size: 15px;
    padding: 2;
}

.go-to-jail .drawing {
    font-size: 90px;
    color: #b02f7c;
    padding-top: 5px;
    padding-bottom: 5px;
    transform: rotate(135deg);
}

.chance .container {
    justify-content: center;
}

.chance .drawing {
    font-size: 100px;
    padding-bottom: 0px;
    color: #f50c2b;
}

.chance .blue {
    color: #d2eaf5;
}

.community-chest .container {
    justify-content: space-around;
}

.community-chest .drawing {
    font-size: 70px;
    padding-bottom: 10px;
    color: #d2eaf5;
}

.community-chest .instructions {
    font-size: 8px;
}

.electric-company .drawing {
    font-size: 50px;
    color: #5a6dba;
}

.waterworks .drawing {
    font-size: 50px;
    color: #5a6dba;
}

.income-tax .container {
    justify-content: center;
    align-items: center;
}

.income-tax .name {
    padding-bottom: 5px;
}

.income-tax .diamond {
    width: 5px;
    height: 5px;
    background: #080808;
    transform: rotate(45deg);
    display: inline-block;
}

.income-tax .instructions {
    padding-top: 5px;
    padding-bottom: 5px;
}

.luxury-tax .name {
    padding-bottom: -10px;
}

.luxury-tax .drawing {
    padding-top: 5px;
    font-size: 50px;
    color: #ffed20;
}

.luxury-tax .instructions {
    padding-bottom: 5px;
    padding-top: 30ox;
    font-size: 8px;
}

.long-name {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.long-railroad {
    padding-top: 15px;
    font-size: 10px;
    padding-left: 0px !important;
    padding-right: 4px !important;
}

.two-line-name {
    padding-top: 5px;
    padding-left: 3px !important;
    padding-right: 3px !important;
    top: 10px;
}

.players {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }
  
  .player {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }

.player-1 {
  background-color: red;
}

.player-2 {
  background-color: #3cb44b;
}

.player-3 {
  background-color: #ffe119;
}

.player-4 {
  background-color: #4363d8;
}

.dice {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .roll-dice {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .dice-result {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
  }
  